{% extends 'base.html'%}

{% block title %}
wishlist
{% endblock %}


{% block main %}
<li class="nav-item"><a href="/main" class="nav-link link-light px-4 active" aria-current="page">Main</a>
</li>
{% endblock %}

{% block login %}
<li class="nav-item"><a href="#" class="nav-link link-light px-2">User_{{user_id}}</a></li>
<div class="dropdown text-end">
    <a href="#" class="d-block link-light text-decoration-none dropdown-toggle pt-2" id="dropdownUser1"
       data-bs-toggle="dropdown" aria-expanded="false">
    </a>
    <ul class="dropdown-menu text-small" aria-labelledby="dropdownUser1">
        <li><a class="dropdown-item" href="/wishlist">Wishlist</a></li>
        <li><a class="dropdown-item" href="/rated_films">Rated films</a></li>
        <!--        <li><a class="dropdown-item" href="#">Profile</a></li>-->
        <li>
            <hr class="dropdown-divider">
        </li>
        <li><a class="dropdown-item" href="/">Sign out</a></li>
    </ul>
</div>
{% endblock %}

{% block personal_recs%}
<li class="nav-item"><a href="/pers_recs" class="nav-link link-light px-4">Personal recommendations</a></li>
{% endblock %}

{% block body %}
<div class='container ps-5 mb-4 mt-5'>
    <h3>Wishlist: </h3>
</div>

<div class="container mt-5">
    {% if wishlist|length!=0 %}
    {% for movie in wishlist %}
    <div class="alert alert-secondary">
        <form method="post" action="">
            <input type="hidden" name="id" value={{movie[0]}}>
            <h4>{{movie[1]}}</h4>
            <p>Release date: <i>{{movie[2]}}</i></p>
            <a href={{movie[3]}} class="btn btn-success">Go to film</a>
            <input class="btn btn-outline-danger ms-2" name="btn" type="submit" value="Delete">
        </form>
    </div>
    {% endfor %}
    {% else %}
    <h6>No movies in wishlist :( </h6>
    {% endif %}
</div>

{% endblock %}